<nav class="navbar navbar-expand bg-dark nav-dark" style="color: white">
    <img src="assets/logo/logo.png">
      <a class="navbar-brand">หอหญิง 2</a>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="btn btn-dark text-warning" href="main">Main</a>
        </li>
        <li class="nav-item">
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark text-warning" data-toggle="modal" data-target="#imagelist">
              In&Out Side
            </button>

          <!-- Modal -->
          <div class="modal" id="imagelist" tabindex="-1" role="dialog" aria-labelledby="imagelistLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                    <div id="list" class="carousel slide" data-ride="carousel">

                      <!-- The slideshow -->
                      <div class="carousel-inner">
                        <div class="carousel-item active">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.4.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.5.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.6.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.7.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.8.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.9.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.10.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.11.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.12.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.13.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.14.jpg">
                        </div>
                        <div class="carousel-item">
                          <img class="card-img-top" src="./assets/Hor/girl2/2.15.jpg">
                        </div>
                      </div>

                      <!-- Left and right controls -->
                      <a class="carousel-control-prev" href="#list" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                      </a>
                      <a class="carousel-control-next" href="#list" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                      </a>

                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
                </div>
              </div>
            </div>
        </li>
        <li class="nav-item">
          <!-- Button trigger modal -->
            <button type="button" class="btn btn-dark text-warning" data-toggle="modal" data-target="#map">
              Map
            </button>

          <!-- Modal -->
          <div class="modal" id="map" tabindex="-1" role="dialog" aria-labelledby="mapLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-body">
                      <div id="list2" class="carousel slide" data-ride="carousel">

                          <!-- The slideshow -->
                          <div class="carousel-inner">
                            <div class="carousel-item active">
                              <img class="card-img-top" src="./assets/Hor/girl2/2.16.jpg">
                            </div>
                            <div class="carousel-item">
                              <img class="card-img-top" src="./assets/Hor/girl2/2.17.jpg">
                            </div>
                            <div class="carousel-item">
                              <img class="card-img-top" src="./assets/Hor/girl2/2.18.jpg">
                            </div>
                            <div class="carousel-item">
                              <img class="card-img-top" src="./assets/Hor/girl2/2.19.jpg">
                            </div>
                          </div>

                          <!-- Left and right controls -->
                          <a class="carousel-control-prev" href="#list2" data-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                          </a>
                          <a class="carousel-control-next" href="#list2" data-slide="next">
                            <span class="carousel-control-next-icon"></span>
                          </a>

                        </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </li>
      </ul>
  </nav>

  <div class="container-fluid">
    <br>
    <div class="card-deck">
      <div class="card" style="margin:20;">
        <div id="demo" class="carousel slide" data-ride="carousel">

            <!-- Indicators -->
            <ul class="carousel-indicators">
              <li data-target="#demo" data-slide-to="0" class="active"></li>
              <li data-target="#demo" data-slide-to="1"></li>
              <li data-target="#demo" data-slide-to="2"></li>
            </ul>

            <!-- The slideshow -->
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="card-img-top" src="./assets/Hor/girl2/2.1.jpg" height=600>
              </div>
              <div class="carousel-item">
                <img class="card-img-top" src="./assets/Hor/girl2/2.2.jpg" height=600>
              </div>
              <div class="carousel-item">
                <img class="card-img-top" src="./assets/Hor/girl2/2.3.jpg" height=600>
              </div>
            </div>

            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#demo" data-slide="prev">
              <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
              <span class="carousel-control-next-icon"></span>
            </a>

          </div>
      </div>
      <div class="card card-block card-outline-primary" style="background-color: rgb(210, 181, 186); padding: 8px">
          <h3>หอ 2 หญิง:</h3>
          <h6>ราคาห้องพัก (ต่อ 1 คน)</h6>
          <ul>
            <li>ค่าห้องพัก 1,200 บาท/ภาคเรียน</li>
            <li>ค่าน้ำ ค่าไฟ 1,000 บาท/ภาคเรียน</li>
            <li>ค่าประกัน 100 บาท/ปีการศึกษา</li>
            <li>ค่าทำความสะอาดแรกเข้า 100 บาท <span style="color: red">รวม 2,400 บาท</span></li>
          </ul>
          <h6>เวลาปิดหอพัก  22.00 น. – 06.00 น.</h6>
          <h6>จำนวนชั้น 4 ชั้น</h6>
          <h6>ห้องอ่านหนังสือ อยู่ชั้น 1 และชั้น 2</h6>
          <h6>ห้องคอมพิวเตอร์ อยู่ชั้น 2 มีจำนวน 20 เครื่อง</h6>
          <h6>ห้องน้ำ เป็นห้องน้ำรวม มีระบบน้ำอุ่นบางห้อง</h6>
          <h6>ห้องดูโทรทัศน์ อยู่บริเวณบันได ชั้นที่ 3</h6>
          <h6>ห้องนอน นอนห้องละ 3 คน เป็นเตียง 2 ชั้น จำนวน  1 เตียง และเตียงเดี่ยว 1 เตียง, โต๊ะอ่านหนังสือจำนวน 3 ชุด, ตู้เสื้อผ้า 1 ตู้ใหญ่แยกย่อยเป็น 3 ตู้เล็ก, ราวตากผ้า 1 ราว</h6>
          <h6>อื่นๆ โรงจอดรถ (ไม่มีหลังคา), ห้องซักผ้า, ร้านซักอบรีด, เครื่องซักผ้าหยอดเหรียญ, โรงอาหาร, เครื่องถ่ายเอกสาร Double A Fast Print</h6>
          <h6>ร้านค้าบริเวณหอพัก ร้านตัดผม, ใกล้โรงอาหารอมช.</h6>
          <h6>รถขนส่งสาธารณะภายในม.ที่ผ่านหอพัก รถม่วงสาย 1,2</h6>
      </div>
    </div>
  </div>
