<nav class="navbar navbar-expand bg-dark nav-dark" style="color: white">
  <img src="assets/logo/logo.png">
  <a class="navbar-brand">DEK HOR</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="btn btn-dark text-warning disabled" href="main">Main</a>
    </li>
    <li class="nav-item">
      <div class="dropdown">
        <button class="btn btn-dark text-warning dropdown-toggle"
                type="button" id="dropdownMenu1" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
          Map
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
          <a class="dropdown-item" href="map">Animation Map</a>
          <a class="dropdown-item" href="map2">Real Map</a>
        </div>
      </div>
      <!-- <a class="btn btn-dark text-warning" href="map">Map</a> -->
    </li>
  </ul>
  <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="btn btn-danger text-white" href="add-review">Review</a>
      </li>
    </ul>
</nav>

<div class="background">
  <br>
  <div class="container">
    <h4 style="text-align: center">หอหญิง</h4>
    <div class="container">
      <div class="card-deck">
        <div class="card bg-dark text-black">
          <a href="หอหญิง1" class="click">
            <img class="card-img" src="./assets/build/หอ1ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 1</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอหญิง2" class="click">
            <img class="card-img" src="./assets/build/หอ2ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 2</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอหญิง3" class="click">
            <img class="card-img" src="./assets/build/หอ3ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 3</h5>
            </div>
          </a>
        </div>
      </div>
      <p></p>
      <div class="card-deck">
        <div class="card bg-dark text-black">
          <a href="หอหญิง4" class="click">
            <img class="card-img" src="./assets/build/หอ4ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 4</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอหญิง5" class="click">
            <img class="card-img" src="./assets/build/หอ5ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 5</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอหญิง6" class="click">
            <img class="card-img" src="./assets/build/หอ6ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 6</h5>
            </div>
          </a>
        </div>
      </div>
      <p></p>
      <div class="card-deck">
        <div class="card bg-dark text-black">
          <a href="หอหญิง8" class="click">
            <img class="card-img" src="./assets/build/หอ8ญ.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 8</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอหญิง40ปี" class="click">
            <img class="card-img" src="./assets/build/หอ40ปี.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิง 40 ปี</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอหญิงชมพู" class="click">
            <img class="card-img" src="./assets/build/หอสีชมพู.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอหญิงสีชมพู</h5>
            </div>
          </a>
        </div>
      </div>
      <p></p>
    <h4 style="text-align: center">หอชาย</h4>
    <div class="container">
      <div class="card-deck">
        <div class="card bg-dark text-black">
          <a href="หอชาย3" class="click">
            <img class="card-img" src="./assets/build/หอ3ช.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอชาย 3</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอชาย4" class="click">
            <img class="card-img" src="./assets/build/หอ4ช.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอชาย 4</h5>
            </div>
          </a>
        </div>

        <div class="card bg-dark text-black">
          <a href="หอชาย5" class="click">
            <img class="card-img" src="./assets/build/หอ5ช.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอชาย 5</h5>
            </div>
          </a>
        </div>
      </div>
      <p></p>
      <div class="card-deck">
        <div class="card bg-dark text-black">
          <a href="หอชาย6" class="click">
            <img class="card-img" src="./assets/build/หอ6ช.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอชาย 6</h5>
            </div>
          </a>
        </div>
        <div class="card bg-dark text-black">
          <a href="หอชาย7" class="click">
            <img class="card-img" src="./assets/build/หอ7ช.png" height=300>
            <div class="card-img-overlay">
              <h5 class="card-title">หอชาย 7</h5>
            </div>
          </a>
        </div>
    </div>
    <p></p>
    <div class="container">
      <div class="col-12 d-flex justify-content-center align-items-center">
        <h6>Powered by Dek Hor 61 <span>(CS Camp)</span></h6>
      </div>
    </div>
</div>
