.jumbotron {
  margin: 0;
  height: 90ex;
  width: 193ex;
  background-image: url("./assets/1.png");
  background-repeat: no-repeat;
  position: fixed;
  background-position: center;
}

.fadeout:hover {
  -webkit-filter: drop-shadow(0px 0px 7px rgb(255, 0, 0));
  filter: drop-shadow(0px 0px 7px rgb(255, 0, 0));
}

a {
  font-family: 'Kodchasan', sans-serif;
}

h4 {
  font-family: 'Kodchasan', sans-serif;
  border-bottom: 1px solid gray;
  background-color: rgb(255, 255, 149);
  border-radius: 10px;
}

h5 {
  font-family: 'Kodchasan', sans-serif;
}

h6 {
  font-family: 'Kodchasan', sans-serif;
  border-top: 1px solid gray;
  font-size: 12px;
}

span:hover {
  color: red;
}

.click {
  color: black;
}

.card:hover {
  transform: scale(1.1, 1.1);
  -webkit-filter: drop-shadow(0px 0px 10px rgb(255, 255, 79));
  filter: drop-shadow(0px 0px 10px rgb(255, 255, 79));
}

.background {
  margin: 0;
  height: 100;
  background-image: url("/assets/bgmain.png");
  background-size: cover;
  background-position: center;
}
