<div class="background">
    <nav class="navbar navbar-expand bg-dark nav-dark" style="color: white">
        <img src="assets/logo/logo.png">
          <a class="navbar-brand">DEK HOR</a>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="btn btn-dark text-warning" href="main">Main</a>
            </li>
            <li class="nav-item">
              <a class="btn btn-dark text-warning disabled" href="map">Real Map</a>
            </li>
          </ul>
        </nav>
    <img src="./assets/map.jpg" class="center" style="width:100%;height:100%;position:absolute;top:0;left:0;z-index:-5000;">
</div>
