a {
  font-family: 'Kodchasan', sans-serif;
}

h1 {
  font-family: 'Kodchasan', sans-serif;
}

h3 {
  font-family: 'Kodchasan', sans-serif;
}

h4 {
  font-family: 'Kodchasan', sans-serif;
}

h5 {
  font-family: 'Kodchasan', sans-serif;
}

h6 {
  font-family: 'Kodchasan', sans-serif;
}

p {
  font-family: 'Kodchasan', sans-serif;
}

.btn {
  font-family: 'Kodchasan', sans-serif;
}

li {
  font-family: 'Kodchasan', sans-serif;
}